@import "tailwindcss";
@plugin '../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

#root {
  @apply w-full h-screen m-0 p-0;
}

body {
  @apply m-0;
}
